.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

div,
h1,
h2,
h3,
h4,
h5,
p {
  border: 2px dashed orange;
}
a,
div,
ul,
li,
img,
footer {
  border: 1px solid red;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
}

.logo_place_header {
  left: 64px;
  position: absolute;
  top: 30px;
  width: 154px;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;

  margin-left: 32px; /*Needs to be fixed!!! Not correct placement.*/
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.subtitle_description {
  display: flex;
  margin: 0px;
}

.subtitle_link {
  display: flex;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns_main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_paragraph {
  margin-top: 0px;
  margin-bottom: 30px;
}

.span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.section__title {
  text-align: center;
  margin: 20px auto 20px auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
}

.section__subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px auto 0px auto;
  width: 60%;
}

.table {
  display: flex;
  width: 1100px;
  margin: auto auto 100px auto;
  flex-wrap: wrap;
}

.table_cell {
  width: 250px;
  margin: 60px auto 0 auto;

  /* margin-bottom: 60px; /*??
  ASK RAFAEL ABOUT THIS!!! */
}

.table_heading {
  line-height: 1.15px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0 auto;
}

.table_top-row {
  margin-bottom: 60px;
}

.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 769px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 70px auto;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__image {
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
  padding: 0;
}

.kaufman {
  min-height: 750px;
  background-color: black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.table__theme_dark {
  width: 1100px;
  margin-bottom: 90px;
  list-style-type: none;
}

.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  height: 660px;
  width: 636px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -124px;
  z-index: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}

.section__subtitle_theme_dark_text {
  font-weight: 350;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  position: relative;
  margin: 0;
}

.section-title_theme_dark {
  position: relative;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 60%;
  margin: 90px auto auto auto;
  z-index: 1;
}

.section-subtitle_theme_dark {
  position: relative;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 60%;
  z-index: 1;
  padding-bottom: 0;
}

.footer {
  min-height: 350px;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}
.footer a {
  color: white;
}

.footer__columns {
  position: relative;
  display: flex;
  width: 85%;
  height: 250px;
  margin: 60px auto 40px auto;
  justify-content: space-evenly;
  overflow: hidden;
}
.footer__column_content_copyright {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.footer__author {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 18px auto;
}

.logo__place_footer {
  display: flex;
  width: 183px;
  height: 35px;
  flex-basis: 711px;
  padding: 0;
  justify-content: flex-start;
}

.ul {
  list-style-type: none;
  padding-left: 0px;
}

.footer__social {
  position: absolute;
  right: 0;
  width: 12%;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 0;
}

.footer__column_content_about {
  position: absolute;
  right: 20%;
  height: 100%;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-link {
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
}

.zero-margin {
  margin: 0;
  padding: 0;
}
.black-space {
  color: black;
}

/* .footer {
  background-color: black;
  color: white;
  padding-top: 120px;
  min-height: 350px;
  display: flex;
  align-items: flex-end;
}

.footer__columns {
  width: 90%;
  min-height: 350px;
  background-color: grey;
  margin: auto auto 30px auto;
  display: flex;
  flex-direction: column;
}

.footer_column_content_copyright {
  flex-direction: column;
}

.footer_column-heading_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
}
 */
